# ステータスメッセージ
STATUS_MESSAGE="Tsumugium v3.0.0"

# DiscordBotのトークン
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN

# データベース
SERVER_CONFIG_DB=db/config.db
DICT_DB=db/dict.db
SOUND_BOARDS_DB=db/soundboards.db

# 絵文字の日本語対応json
EMOJI_JA_JSON=db/emoji_ja.json

# 話者一覧
SPEAKERS_JSON=db/speakers.json

# 音声の一時出力先ディレクトリ
TMP_DIR=tmp

# botの全メッセージ一覧ディレクトリ
MESSAGES_DIR=messages

# VOICEVOXのURL
VOICEVOX_URL=http://127.0.0.1:50021

# バックアップ
BACKUP_DIR=backup
BACKUP_TIMES=10:30
BACKUP_INTERVAL_DAYS=1
BACKUP_KEEP=7